@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.postInfo {
    display: flex;
    gap: 10px;
    margin-right: 1.5rem;

    .postAvatar {
        font-size: inherit;
    }

    .postDetails {
        @include flex(center, flex-start, column);

        .postAuthorLight {
            color: $main-green;
            font-weight: 500;
        }

        .postDateLight {
            color: $grey-20;
            font-size: 0.8rem;
        }

        .postAuthorLight {
            color: $main-green
        }

        .postAuthorDarkMode {
            color: $white;
        }

        .postDateDarkMode {
            color: $grey-30
        }

    }

}