@import '../../styles/colors.scss';
@import '../../styles/global/layout.scss';

.postsContainer {
    margin: 0 auto;
    display: flex;
    margin-top: 1.5rem;

    .posts {
        flex: 75%;
        padding: 0 1rem;

        .alerts {
            text-align: center;
            font-size: 1rem;
            margin-top: 1rem;
        }
    }

    .tags {
        flex: 25%;
        padding: 0 1rem;
    }

    .feedTooglePanel {
        display: flex;
        color: $title-grey;
        font-size: 1.1rem;
        color: #aaa;
        border-bottom: 1px solid $grey-40;

        span {
            font-weight: 900;
        }

        div {
            padding: 1rem;
            cursor: pointer;

            &:hover {
                color: $feed-hover;
            }
        }

        .activeFeed {
            color: $main-green;
            border-bottom: 2px solid $main-green;

            &:hover {
                color: $main-green;
            }
        }
    }
}