@import '../../styles/colors.scss';
@import '../../styles/global/layout.scss';

.postsContainer {
    margin: 0 auto;
    display: flex;
    margin-top: 1.5rem;

    .feedTooglePanel {
        display: flex;
        color: $title-grey;
        font-size: 1.1rem;
        color: #aaa;

        div {
            padding: 1rem;
            border-bottom: 2px solid $main-green;

        }
    }

    .posts {
        flex: 75%;
        padding: 0 1rem;
    }

    .tags {
        flex: 25%;
        padding: 0 1rem;
    }
}