@import '../../styles/colors.scss';

.tagsWrapper {
    background-color: $grey-50;
    color: $title-grey;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;

    .tags {
        margin-top: 0.5rem;
        font-size: 0.8rem;

        div {
            cursor: pointer;
            display: inline-block;
            color: $white;
            background-color: $grey-5;
            margin: 0.1rem;
            border-radius: 10rem;
            padding: 0.25rem 0.7rem;

            &:hover {
                filter: brightness(90%);
            }

            &:active {
                filter: brightness(80%);
            }


        }


    }
}