$white: #ffffff;
$black: #000000;

$main-green: #5cb85c;
$title-grey: #373a3c;

$header-grey: #333333;
$header-links: rgba(0, 0, 0, .3);
$header-links-hover: rgba(0, 0, 0, .6);
$header-links-active: rgba(0, 0, 0, .8);


$grey-5: #818A91;
$grey-10: #999999;
$grey-20: #aaaaaa;
$grey-30: #BBBBBB;
$grey-40: #dddddd;
$grey-50: #f3f3f3;
$grey-60: #f5f5f5;
$grey-70: #e5e5e5;
$grey-tag: #818A91;

$input-text: #55595c;
$input-border-focus: #66afe9;

$buttonBorderGrey: #cccccc;
$feed-hover: #555555;
