$main-green: #5cb85c;

$header-grey: #333333;
$title-grey: #373a3c;
$grey-5: #818A91;
$grey-10: #999999;
$grey-20: #aaaaaa;
$grey-30: #BBBBBB;
$grey-40: #dddddd;
$grey-50: #f3f3f3;
$white: #ffffff;
$black: #000000;
$grey-tag: #818A91;
$buttonBorderGrey: #cccccc;
$header-links:  rgba(0,0,0,.3)