@import '../../styles//global/layout.scss';
@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.logo {
    // border: red 1px dashed;
    font-family: 'Sans serif';
    font-size: 24px;
    color: $main-green;
    font-weight: 900;

}

.links {
    font-family: 'Sans serif';
    font-weight: 500;
    gap: 20px;
    color: $header-links;
    @include flex (center, center);
    cursor: pointer;

    .link {
        @include flex (center, center);
        gap: 0.25rem;

        svg {
            height: 1.2rem;
            width: 1.2rem
        }

        img {
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
        }

        &:hover {
            color: $header-links-hover;
        }
    }

}

.headerContainer {
    margin: 0 auto;
    @include flex (space-between, center);
    padding: 10px
}