@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/global/layout.scss';
@import '../../styles/fonts.scss';

.commentBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    .notification {
        margin-top: 1rem;
        text-align: center;

        a {
            color: $main-green;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}