@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.postWrapper {
    border-top: 1px solid $grey-40;
    padding: 1.5rem 0;

    .postHeader {
        @include flex(space-between, center);
    }

    .postBody {
        margin-top: 16px;

        .postBodyTitle {
            font-weight: 600;
            font-size: 30px;
            line-height: 1.1;
            color: $title-grey;
            cursor: pointer;
        }

        .postBodyMainText {
            color: $grey-10;
            margin-top: 5px;
            font-size: 1rem;
            line-height: 1.3rem;
        }
    }

    .postFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $grey-30;
        margin-top: 15px;
        cursor: pointer;

        .readMore {
            font-family: inherit;
        }

        .tagsBlock {
            display: flex;
            gap: 5px;
            color: $grey-20;
            cursor: pointer;

            .tag {
                border: 1px solid $grey-40;
                border-radius: 10rem;
                padding: 2px 4px 2px 4px;
            }

        }


    }
}