.mainRegBlock {
    margin: 0 auto;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div{
        margin-top: 10px;
    }
button {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
  
}
}